body{
    background: url(images/dark-honeycomb.png);
    background-repeat: repeat;

}
nav{
    border-bottom-style:solid;
    border-bottom-width: 1%;
    border-bottom-color: #cccccc;
}
#mypic{
    margin-top:10%;
    display: block;
    transform: rotate(270deg);
    width: 80%;
    max-height: auto;
    padding:2%;
}
h2{
    color:#4aaaa5;
    background-color: #ffffff;
    padding:1%;
    font-size: 3;
}
.seperator{
    padding:.1%;
    margin-left:1%;
    width:98%;
    background-color:#cccccc;
}

.paragraph{
    color: #777777;
    background-color:#ffffff;
    padding:2%;
}
.page-content{
    margin-top: 1%;
    background-color:#ffffff;
    padding-bottom:1%;
    margin-bottom:10%;
    
}
h1{
    background-color: #4aaaa5;
    color: #ffffff;
    padding:3%;
    margin-right:-5%;
}
b{
    color: #777777;
}
.message{
    width:100%;
}
#button{
    margin-bottom: 1%;
}
.porttitle{
    position:absolute;
    background-color: #4aaaa5;
    color:#ffffff;
    margin-left:10%;
    padding:5%;
    width:110%;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.picbox{
    position: relative;
    text-align: center;
    float: left;
    background-color: #ffffff;
    border-color:#ffffff;
    border-style:solid;
    border-width:50px;
    border-right-width: 0;
    border-bottom-width:0;
    overflow:hidden;
}
.picbox:hover{
    opacity: 0.5;

}
#lastitem{
    padding-bottom:5%;
    
}
footer{
    margin-top:10%;
    position:absolute;
    display:block;
    border-top:2%;
    border-top-style:solid;
    border-top-color: #4aaaa5;
    padding:1%;
    width:100%;
    background-color:#666666;
    text-align:center;
    clear:both;

}
.text{
    color:#ffffff;
}
#space{
    width:300px;
    height:300px;
}
#sound{
    width:300px;
    height:300px;
}
#trains{
    width:300px;
    height:300px;
}